
button{
  background-color: yellow;
  font-family: Helvetica, 'Times New Roman', Times, serif;
  font-size: 58px;
}
input{
  font-family: Helvetica, 'Times New Roman', Times, serif;
  font-size: 58px;
  width: 150px;
}